.skills-section {
  background-color: #444;
  color: white;
  padding: 50px 40px;
  overflow-y: hidden;
}

.skills-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

.skills-block {
  margin-bottom: 40px;
}

.skills-category {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-box {
  background-color: transparent;
  border: 1px solid #2c2c2c;
  border-radius: 12px;
  padding: 20px 16px;
  width: 120px;
  text-align: center;
  transition: transform 0.2s ease-in-out, border-color 0.3s;
}

.skill-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-box span {
  font-size: 14px;
  display: block;
  color: white;
}

.skill-box:hover {
  transform: scale(1.05);
  border-color: #444;
}
