.universal, .wrapper, .mainn, .side {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    height: 100vh;
 
    justify-content: flex-start;


}
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}


body, html {
  margin: 0;
  padding: 0;
}

.main-content {
  margin-top: 0;
  padding-top: 0;
}
